<div class="center">
    <h1>Yeting Tan - Assignment #1</h1>
    <p class="font">
        <b>America/New York:</b> {{NewYork_tz}}
    </p>
    <br />
    <p class="font">
        <b>Asia/Tokyo:</b> {{Tokyo_tz}}
    </p>
    <div>
        <button onclick={{action refresh}}>Refresh</button>
    </div>
</div>